#main-box {
    margin-left: calc(var(--margin-left) + 2px);
    height: 100%;
}

#main-box.to-left {
    margin-left: 60px;
}

#topnav-box {
    line-height: 60px;
    background: var(--primary-color);
}

#topnav-title {
    color: white;
    margin-left: 40px;
}

#main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#main-content > div {
    background: white;
    width: 492px;
    box-shadow: 0 1px 3px var(--box-shadow);
    border-radius: 6px;
    margin: 10px;
}

.card-content {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 20px;
}

.card-content-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 40px;
}

.content-icon {
    font-size: 14px;
    padding: 4px;
}

.card-content{
    margin: auto;
}


/*@media only screen and (max-width: 600px){
    #side-navbar {
        width: 60px;
    }

    #side-navbar-title {
        display: none;
    }

    .nav-title {
        display: none;
    }

    #main-box {
        margin-left: 60px;
    }
}*/
