{% extends 'base.html' %}
{% block content %}
    <h2>Rollladen Steuerung</h2>
    <br>
    <div class="container">
        {% for shutter in shutters %}
            {% if shutter.state == 'open' %}
                <a href="/{{ shutter.room.lower() }}" style="background:lightblue;">
            {% else %}
                <a href="/{{ shutter.room.lower() }}" style="background:green;">
            {% endif %}
                <div>
                    <b>{{ shutter.room }}</b>
                    <br>
                    <br>
                    <label>Status: </label>
                    <label>{{ shutter.state }}</label>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock content %}
