<!DOCTYPE html>
<html>
<head>
    <title>Rollladen Steuerung</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h2>Rollladen Steuerung</h2>
    <br>
    <div class="container">
        <a href="/wohnzimmer">
            <div>
                <b>Wohnzimmer</b>
                <br>
                <br>
                <label>Status: </label>
                <label id="status_label_wohnzimmer">Offen</label>
            </div>
        </a>
        <a href="/schlafzimmer">
            <div>
                <b>Schlafzimmer</b>
                <br>
                <br>
                <label>Status: </label>
                <label id="status_label_schlafzimmer">Offen</label>
            </div>
        </a>
        <a href="/esszimmer">
            <div>
                <b>Esszimmer</b>
                <br>
                <br>
                <label>Status: </label>
                <label id="status_label_esszimmer">Offen</label>
            </div>
        </a>
    </div>
</body>
</html>
