{% extends 'base.html' %}
{% block content %}
    <h2>Wohnzimmer</h2>
    <form action="/handle_data" method="POST">
        <input type="hidden" name="change" value="open" />
        <input type="hidden" name="room" value="wohnzimmer"/>
        <input type="hidden" name="ip" value="192.168.178.78"/>
        <input type="submit" value="Öffnen" />
    </form>
    <form action="/handle_data" method="POST">
        <input type="hidden" name="change" value="close" />
        <input type="hidden" name="room" value="wohnzimmer"/>
        <input type="hidden" name="ip" value="192.168.178.78"/>
        <input type="submit" value="Schließen" />
    </form>
{% endblock content %}
