{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/style.css">
{% endblock head %}
{% block body %}
    <h2>Add Shutter</h2>
    <div class="add-div">
        <form action="/add_shutter" method="post">
            <label for="room">Room</label>
            <input type="text" name="room" placeholder="Room"/><br><br>
            <label for="ip">IP Address</label>
            <input type="text" name="ip" placeholder="IP"/>
            <input type="hidden" name="state" value="open"><br><br>
            <input type="submit" class="submit-btn" value="Add">
        </form>
    </div>
{%endblock body %}#
