<!DOCTYPE html>
<html>
<head>
    <title>Rollladen Steuerung</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    {% endblock head %}
</head>
<body>
    <div class="navbar">
        <a href="/delete_shutter">Delete</a>
        <a href="/edit_shutter">Edit</a>
        <a href="/add_shutter">Add</a>
        <a href="/home">Home</a>
    </div>
    {% block body %}
    {% endblock body %}
</body>
</html>
