<!DOCTYPE html>
<html>
<head>
    <title>Rollladen Steuerung</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/dashboard.css">
</head>
<body>
    <div class="side-navbar">
        <div class="nav-title">
             <h2><span>Dashboard</span></h2>
        </div>
        <div class="nav-item">
            <span>Rollladen</span>
        </div>
        <div class="nav-item">
            <span>Info</span>
        </div>
        <div class="nav-item">
            <span>Einstellungen</span>
        </div>
    </div>

    <div class="main-content">
        main Content
    </div>
</body>
</html>
