{% extends 'base.html' %}
{% block content %}
    <h2>Rollladen Steuerung</h2>
    <br>
    <div class="container">
        {% for shutter in shutters %}
            {% if shutter.state == 'offen' %}
                <div style="background:lightblue;">
            {% else %}
                <div style="background:green;">
            {% endif %}
                <b>{{ shutter.room }}</b>
                <br>
                <br>
                <label>Status: </label>
                <label>{{ shutter.state }}</label>
                <br>
                <br>
                <form action="/handle_shutter_change" method="POST">
                    <input type="hidden" name="change" value="open" />
                    <input type="hidden" name="room" value="{{ shutter.room }}"/>
                    <input type="hidden" name="ip" value="{{ shutter.ip }}"/>
                    <input type="submit" value="Öffnen" />
                </form>
                <br>
                <form action="/handle_shutter_change" method="POST">
                    <input type="hidden" name="change" value="close" />
                    <input type="hidden" name="room" value="{{ shutter.room }}"/>
                    <input type="hidden" name="ip" value="{{ shutter.ip }}"/>
                    <input type="submit" value="Schließen" />
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
