{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/style.css">
{% endblock head %}
{% block body %}
    <h2>Rollladen Steuerung</h2>
    <br>
    <div class="grid-container">
        {% for shutter in shutters %}
            <!--{% if shutter.state == 'open' %}
                <div style="background:lightblue;">
            {% else %}
                <div style="background:green;">
            {% endif %}-->
        <div>
                <b>{{ shutter.room }}</b>
                <br>
                <br>
                <label>Status: </label>
                <label>{{ shutter.state }}</label>
                <br>
                <br>
                <form action="/handle_shutter_change" method="POST">
                    <input type="hidden" name="state" value="open" />
                    <input type="hidden" name="room" value="{{ shutter.room }}"/>
                    <input type="hidden" name="ip" value="{{ shutter.ip }}"/>
                    <input type="submit" value="Open" class="btn"/>
                </form>
                <br>
                <form action="/handle_shutter_change" method="POST">
                    <input type="hidden" name="state" value="close" />
                    <input type="hidden" name="room" value="{{ shutter.room }}"/>
                    <input type="hidden" name="ip" value="{{ shutter.ip }}"/>
                    <input type="submit" value="Close" class="btn"/>
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock body %}
