<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="card-content">
        <form action="/settings_change" method="post">
            <label for="font-size">Schriftgröße</label>
            <input type="text" name="font-size" placeholder=""/>
            <label for="profile-name">Name</label>
            <input type="text" name="profile-name" placeholder=""/>
            <input type="submit" class="submit-btn" value="Speichern">
        </form>
    </div>
</body>
</html>
